version: "3.9"

services:
  postgis:
    image: postgis/postgis:15-3.3
    container_name: postgis-db
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    env_file:
      - .env
    ports:
      - "5050:80"
    depends_on:
      - postgis
    restart: unless-stopped

volumes:
  pgdata:
